$raleway: "Raleway",
sans-serif;
$montserrat: "Montserrat",
sans-serif;

$darkBlue: #2434a1;
$medBlue: #356af1;
$yellow: #ffc651;
$pink: #ffcbc4;
$coral: #ff6550;
$darkCoral: #ec4731;
$lightGrey: #e9e9e9;
$medGrey: #eeeeee;
$white: #ffffff;

/** Unauthorised **/

.unauthorised_container,
.error_container {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 200px;
  margin-top: 30px;

  .notify_image,
  .error_image {
    width: 50%;
    margin: auto;
  }

  .unauthorised_title,
  .error_title {
    font-family: $raleway;
    color: black;
    font-weight: 800;
  }
}