@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900|Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900&display=swap');

$raleway: "Raleway",
sans-serif;
$montserrat: "Montserrat",
sans-serif;

$title-family:$raleway;
$darkBlue: #2434a1;
$medBlue: #356af1;
$yellow: #ffc651;
$pink: #ffcbc4;
$coral: #ff6550;
$darkCoral: #ec4731;
$lightGrey: #e9e9e9;
$medGrey: #eeeeee;
$white: #ffffff;

body {
  background: none !important;
}

// background rectangles
.bg_rect {
  background-color: $pink;
  position: absolute;
  width: 1600px;
  height: 900px;
  transform: rotate(20deg);
  border-radius: 80px;
  left: 400px;
  margin-top: 1200px;
  z-index: -2;
}

// Hero section
.hero_container {
  width: 75% !important;
  text-align: center;
}

.hero-body {
  overflow: hidden !important;
  margin-bottom: 100px;
  width: 100% !important;
}

h1.hero_Title {
  font-family: $raleway;
  font-weight: 800;
  color: $white;
  font-size: 4rem !important;
  width: 100% !important;
}

p.hero_blurb {
  font-family: $montserrat;
  line-height: 1.8rem;
  color: $white;
  font-weight: 100;
  font-size: 1.2rem;
}

.browseBttn {
  top: 20px;
  border: none !important;
  background-color: $coral !important;
  color: white !important;
  font-weight: 700;
  font-family: $raleway;
  transition: 0.3s;
}

.browseBttn:hover {
  background-color: $darkCoral !important;
  color: white;
  font-weight: 700;
}


.hero {
  overflow: hidden;
}

.hero_full_contain {
  overflow: hidden;
}

.hero_rectangle {
  margin-top: 100px;
  background-color: $medBlue;
  border-radius: 100px;
  width: 1000px;
  height: 450px;
  position: absolute;
  margin-left: 200px;
  transform: rotate(20deg);
}

.hero_rectangle::before {
  content: "";
  margin-top: -90px;
  background-color: $darkBlue;
  border-radius: 120px;
  width: 1200px;
  height: 660px;
  position: absolute;
  transform: rotate(0deg);
  margin-left: -600px;
}

.hero_rectangle::after {
  content: "";
  margin-top: 500px;
  background-color: $yellow;
  border-radius: 40px;
  width: 500px;
  height: 220px;
  position: absolute;
  left: -400px;
  transform: rotate(0deg);
}

.hero_back_rect {
  background-color: $yellow;
  border-radius: 80px;
  width: 600px;
  height: 220px;
  transform: rotate(20deg);
  right: -200px;
  top: 50px;
  position: absolute;
}

.hero_front_rect {
  background-color: $medBlue;
  border-radius: 20px;
  width: 90px;
  height: 90px;
  transform: rotate(20deg);
  position: absolute;
  top: 700px;
  left: 100px;
}

.hero_front_rect::after {
  content: "";
  background-color: $pink;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  transform: rotate(0deg);
  position: absolute;
  left: 100px;
  top: -60px;
}

.hero_small_front_rect {
  background-color: $medBlue;
  position: absolute;
  width: 65px;
  height: 65px;
  transform: rotate(20deg);
  border-radius: 20px;
  left: 100px;
  margin-top: 30px;
}

.hero_small_front_rect::after {
  content: "";
  background-color: $medBlue;
  position: absolute;
  width: 36px;
  height: 36px;
  transform: rotate(0deg);
  border-radius: 10px;
  left: 630px;
  margin-top: 340px;
}

.hero_small_front_rect::before {
  content: "";
  background-color: $pink;
  position: absolute;
  width: 36px;
  height: 36px;
  transform: rotate(0deg);
  border-radius: 10px;
  left: 760px;
  top: -280px;
}

// Three card
h1.homeCard_title {
  font-family: $raleway;
  font-weight: 800 !important;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.content {
  font-family: $montserrat;
  font-weight: 200 !important;
}

.card {
  border: none !important;
  box-shadow: none !important;
  overflow: hidden;
  background: none !important;
}

.home_title {
  font-family: $raleway;
  font-weight: 800 !important;
}

/*********** MEDIUM [TABLET] SCREEN SIZE ***************/
@media only screen and (min-width: 401px) and (max-width: 970px) {
  .hero_container {
    width: 100% !important;
  }

  .hero_leftCol {
    width: 100% !important;
  }

  .hero_rightCol {
    display: none;
  }

  div.home_card {
    display: block !important;
  }

  .hero_Title {
    width: 100% !important;
  }
}