@import "../../node_modules/bulma/bulma.sass";

$darkBlue: #2434a1;
$medBlue: #356af1;
$yellow: #ffc651;
$pink: #ffcbc4;
$coral: #ff6550;
$lightGrey: #e9e9e9;
$medGrey: #eeeeee;

// Log In, Sign Up, Edit Profile (duplicates sign up)
.loginContainer,
.signupContainer,
.editProfileContainer {
  background: grey;
  min-height: 100vh;
  display: flex;
}

.loginLeft {
  width: 40%;
  height: 100vh;
}

.signupLeft,
.editProfileLeft {
  width: 35%;
  height: 100vh;
}

.signupRight,
.editProfileRight {
  background: white;
  width: 65%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginRight {
  background: white;
  width: 60%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupBox,
.editProfileBox {
  width: 660px;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

.loginBox {
  width: 660px;
  height: 600px;
}

.loginInput[type=text],
.loginInput[type=password],
.signupInput[type=text],
.signupInput[type=password],
.editProfileInput[type=text],
.editProfileInput[type=password],
textarea {
  width: 500px;
  padding: 20px;
  border: 2px solid #d0d1cd;
}

.signupLeft {
  background: url("../assets/business-team-meeting-boardroom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.loginLeft {
  background: url("../assets/students-working-on-project.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.editProfileLeft {
  background: url("../assets/designers-desk-with-coffee-wireframes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

//** GRADUATION DATE PICKER **//
[type="date"] {
  background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}