@import "../../node_modules/bulma/bulma.sass";

$darkBlue: #2434a1;
$medBlue: #356af1;
$yellow: #ffc651;
$pink: #ffcbc4;
$coral: #ff6550;
$lightGrey: #e9e9e9;
$medGrey: #eeeeee;

// Log In, Sign Up, Edit Profile (duplicates sign up)

$raleway: "Raleway",
sans-serif;
$montserrat: "Montserrat",
sans-serif;

$title-family:$raleway;

$darkBlue: #2434a1;
$medBlue: #356af1;
$yellow: #ffc651;
$pink: #ffcbc4;
$coral: #ff6550;
$darkCoral: #ec4731;
$lightGrey: #e9e9e9;
$medGrey: #eeeeee;
$white: #ffffff;

/** SIGN UP bg rectangles **/
.signUp_back_rect {
  // background: url('../assets/taking-notes-and-working-on-laptop.jpg');
  background: $medBlue;
  width: 1550px;
  height: 450px;
  border-radius: 120px;
  position: absolute;
  transform: rotate(20deg);
  margin-top: -300px;
  margin-left: -120px;
  z-index: -20;
}

.signUp_back_rect::before {
  background: $darkBlue;
  content: "";
  width: 600px;
  height: 400px;
  border-radius: 80px;
  position: absolute;
  margin-top: 400px;
  margin-left: 100px;
}

.signUp_back_rect::after {
  content: "";
  background: $yellow;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 40px;
  margin-top: 760px;
  margin-left: 500px;
}

.signup_small_rect {
  background: $pink;
  color: $white;
  width: 130px;
  position: absolute;
  border-radius: 40px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(20deg);
  margin-top: 500px;
  margin-left: 350px;
}

.signupgithub {
  transform: rotate(-20deg);
}

.signup_small_rect::after {
  background: $medGrey;
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  margin-left: -70px;
  margin-top: 180px;
  border-radius: 30px;
}

.signup_small_rect::before {
  background: $medGrey;
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  margin-left: 120px;
  margin-top: -80px;
  border-radius: 20px;
}


.signUp_back_low_rect {
  z-index: -1;
  background-color: $medGrey;
  width: 850px;
  height: 650px;
  border-radius: 160px;
  margin-top: 100px;
  position: absolute;
  transform: rotate(-20deg);
  margin-left: 1000px;
  margin-top: 880px;
}

.signUp_back_low_rect::before {
  background-color: $yellow;
  content: "";
  width: 180px;
  height: 180px;
  border-radius: 60px;
  position: absolute;
  margin-top: -80px;
  margin-left: 170px;
}

.signUp_back_low_rect::after {
  content: "";
  width: 65px;
  height: 65px;
  border-radius: 24px;
  position: absolute;
  margin-top: 160px;
  margin-left: 70px;
  background-color: $pink;

}

/* Log in rectangle */
.login_back_rect {
  position: absolute;
  width: 1500px;
  height: 900px;
  background-color: $pink;
  border-radius: 230px;
  transform: rotate(-20deg);
  z-index: -10;
  margin-top: -680px;
}

.login_back_rect::before {
  content: "";
  position: absolute;
  background-color: $darkBlue;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-top: 870px;
  margin-left: 980px;
  z-index: -1;
}

.login_front_rect {
  position: absolute;
  width: 700px;
  height: 600px;
  background-color: $medGrey;
  border-radius: 120px;
  z-index: -10;
  transform: rotate(-20deg);
  margin-left: 900px;
  margin-top: 300px;
}

.login_front_rect::before {
  content: "";
  background-color: $medBlue;
  position: absolute;
  margin-left: -220px;
  margin-top: 140px;
  width: 490px;
  height: 500px;
  border-radius: 120px;
}

.login_front_rect::after {
  content: "";
  background-color: $lightGrey;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-left: -110px;
}

.login_gradcap {
  background: $medGrey;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transform: rotate(-20deg);
  position: absolute;
  margin-top: 420px;
  margin-left: 180px;
}

.login_gradcap::before {
  content: "";
  position: absolute;
  background: $white;
  width: 45px;
  height: 45px;
  border-radius: 12px;
  margin-top: -150px;
  margin-left: 160px;
}

.login_laptop {
  background: $yellow;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  transform: rotate(-20deg);
  margin-top: 500px;
  margin-left: 300px;
  position: absolute;
}

.loginGradCap,
.loginLaptop {
  color: $white;
  transform: rotate(20deg);
}

/* Edit Profile rectangles */

.editProfile_back_rect {
  background: $medBlue;
  position: absolute;
  width: 400px;
  height: 500px;
  border-radius: 90px;
  margin-left: -100px;
  transform: rotate(-20deg);
  z-index: -20;

}

.editProfile_back_rect::after {
  content: "";
  width: 700px;
  height: 400px;
  background: $darkBlue;
  border-radius: 120px;
  position: absolute;
  margin-top: -120px;
  margin-left: 100px;
}


.editProfile_back_rect::before {
  content: "";
  width: 50px;
  height: 50px;
  background: $pink;
  border-radius: 14px;
  position: absolute;
  margin-top: 260px;
  margin-left: 200px;
  z-index: 1;
}

.editProfile_front_rect {
  background: $pink;
  width: 1200px;
  height: 600px;
  border-radius: 200px;
  position: absolute;
  z-index: -20;
  margin-top: 600px;
  margin-left: 400px;
  transform: rotate(-20deg);
}

.editProfile_giticon {
  background: $medGrey;
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  position: absolute;
  transform: rotate(-20deg);
  margin-top: 440px;
  margin-left: 350px;
}

.editProfile_giticon::before {
  content: "";
  position: absolute;
  background: $lightGrey;
  width: 48px;
  height: 48px;
  border-radius: 16px;
  margin-left: -280px;
  margin-top: -70px;
}

.editProfile_haticon {
  background: $yellow;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  position: absolute;
  transform: rotate(-20deg);
  margin-top: 550px;
  margin-left: 520px;
}

.editProfile_haticon::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background: $medGrey;
  margin-top: -150px;
}

.editProfile_haticon::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 30px;
  background: $medGrey;
  margin-top: -40px;
  margin-left: -180px;
}

.edit_githubalt,
.edit_wizardHat {
  color: $white;
  transform: rotate(20deg);
}

.signup_blurb {
  font-size: 1.2rem;
  font-family: $montserrat;
  font-weight: 100;
  color: black !important;

}

.signupLeft {
  display: flex;
  justify-content: space-between;
  align-items: space-around;
}

.signup_title_container {
  margin-top: 50px;
}

.loginContainer,
.signupContainer,
.editProfileContainer {
  z-index: 10;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
}

h1.editProfile_Title,
h1.signup_Title,
h1.login_Title {
  font-family: $raleway;
  font-weight: 800;
  color: black;
}

.loginLeft {
  width: 40%;
  height: 100vh;
}

.signupLeft,
.editProfileLeft {
  width: 35%;
  height: 100vh;
}

.signupRight,
.editProfileRight {
  width: 65%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.loginRight {
  width: 60%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.signupBox,
.editProfileBox {
  width: 660px;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

.loginBox {
  width: 660px;
  height: 600px;
}

.loginInput[type=text],
.loginInput[type=password],
.signupInput[type=text],
.signupInput[type=password],
.editProfileInput[type=text],
.editProfileInput[type=password],
textarea {
  width: 500px;
  padding: 20px;
  border: 2px solid #d0d1cd;
}

.signupLeft {
  // background: url("../assets/business-team-meeting-boardroom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.loginLeft {
  // background: url("../assets/students-working-on-project.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.editProfileLeft {
  // background: url("../assets/designers-desk-with-coffee-wireframes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

//** GRADUATION DATE PICKER **//
[type="date"] {
  background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

button.createProfileBttn,
button.loginBttn,
button.saveProfileBttn {
  background-color: $coral !important;
  transition: 0.3s;
  font-weight: 700;
  font-family: $raleway;
  position: relative;
}

button.createProfileBttn:hover,
button.loginBttn:hover,
button.saveProfileBttn:hover {
  background-color: $darkCoral !important;
}

button.deleteProfileBttn {
  background-color: $medBlue !important;
  transition: 0.3s;
  font-weight: 700;
  font-family: $raleway;
}

button.deleteProfileBttn:hover {
  background-color: $darkBlue !important;
}

// Edit Profile
.editProfile_rect {
  background-color: $darkBlue;
  border-radius: 30px;
  width: 1000px;
  height: 500px;
  position: absolute;
  transform: rotate(-20deg);
  margin-top: -800px;
}

/*************** MEDIUM [TABLET] SCREEN SIZE ***************/
@media only screen and (min-width: 401px) and (max-width: 960px) {

  .loginLeft,
  .signupLeft,
  .editProfileLeft {
    display: none;
  }

  .loginRight,
  .signupRight,
  .editProfileRight {
    width: 100% !important;
  }

  .signupBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  .signupBox>form {
    width: 80%;
  }

  .field {
    width: 100%;
  }

  .field-body {
    width: 100% !important;

  }

  select {
    width: 600px !important;
    font-size: 1.2rem !important;
  }

  input.loginInput {
    width: 100%;
  }

  .control {
    width: 100%;
  }

  .createProfileBttn,
  .saveProfileBttn,
  .deleteProfileBttn,
  .loginBttn {
    width: 100%;
    height: 60px;
    font-size: 1.4rem;
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  .editProfileButton {
    display: block !important;
  }

  label {
    font-size: 1.2rem !important;
  }
}

/************ SMALLEST [MOBILE] SCREEN SIZE *************/
@media only screen and (max-width: 400px) {

  .loginRight,
  .signupRight {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}