@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900|Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900&display=swap');

$raleway: "Raleway",
sans-serif;
$montserrat: "Montserrat",
sans-serif;

$darkBlue: #2434a1;
$medBlue: #356af1;
$yellow: #ffc651;
$pink: #ffcbc4;
$coral: #ff6550;
$darkCoral: #ec4731;
$lightGrey: #e9e9e9;
$medGrey: #eeeeee;
$white: #ffffff;

.linkedOutLogo > h1 {
  font-family: $montserrat;
  font-weight: 700;
}

nav.navbar {
  background-color: $white;
  height: 5.75rem;
  padding-left: 60px;
  padding-right: 60px;
}

.navbar-menu {
  width: 80%;
  padding-left: 30px;
  padding-right: 30px;
}

a.navbar-item {
  font-family: $raleway;
  font-weight:600;
}

a.navbar-item:hover {
  background: none !important;
}

button.signupBttn{
  background-color: $coral;
  border:none;
  color:$white;
  font-weight:700;
}

button.signupBttn:hover{
  color: $white;
  font-weight:700;
  background-color: $darkCoral;
}
