@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900|Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900&display=swap');

$raleway: "Raleway",
sans-serif;
$montserrat: "Montserrat",
sans-serif;

$darkBlue: #2434a1;
$medBlue: #356af1;
$yellow: #ffc651;
$pink: #ffcbc4;
$coral: #ff6550;
$darkCoral: #ec4731;
$lightGrey: #e9e9e9;
$medGrey: #eeeeee;
$white: #ffffff;

body {
  background: $lightGrey;
}

.profileList_entry {
  padding: 36px !important;
  border-radius: 20px !important;
  position: relative;
  overflow: hidden;
}

.profileList_image {
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-items: center;
  align-items: center;
}

h1.profileList_name {
  font-family: $raleway !important;
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 0px;
}

.profileList_content {
  padding: 0 20px 20px 20px;
}

h1.profileList_gradType {
  font-weight: 600;
  margin-top: -13px !important;
  color: #c6c6c6;
}


p.profileList_blurb {
  line-height: 1.4rem;
  font-size: 0.9rem;
}

.profileList_right {
  height: 100%;
}

.profileList_jobTypeList {
  margin-top: auto;
}

.profileList_viewProfile {
  margin-bottom: 0;
}

.profileList_jobType {
  margin-top: 0;
}

.profileList_viewProfileBttn {
  margin-top: 20px;
  background: $medBlue;
  border: none;
  color: $white;
  font-family: $raleway;
  font-weight: 700;
  transition: 0.5s ease-in;
}

.profileList_viewProfileBttn:hover {
  background: $darkBlue;
  color: $white;
}

.profileList_tagGroup {
  float: right;
}