// Style for Single Profile View

$raleway: "Raleway",
sans-serif;
$montserrat: "Montserrat",
sans-serif;

$title-family:$raleway;

$darkBlue: #2434a1;
$medBlue: #356af1;
$yellow: #ffc651;
$pink: #ffcbc4;
$coral: #ff6550;
$darkCoral: #ec4731;
$lightGrey: #e9e9e9;
$medGrey: #eeeeee;
$white: #ffffff;

/** Tech Stack Colours */
$tag_html: #1c1b1d;
$tag_css: $medGrey;
$tag_ruby: #f7529e;
$tag_javascript:#efbd3e;
$tag_react: #8e42fb;
$tag_express: #38caf7;
$tag_node: $darkBlue;
$tag_mongo: #2cbf66;

.profile_Container {
  z-index: 20;
  width: 80% !important;
  margin: auto;
}

.profile_backrect {
  width: 600px;
  height: 380px;
  border-radius: 290px;
  background: $medGrey;
  z-index: -12;
  position: absolute;
  transform: rotate(20deg);
  margin-top: 300px;
}

.profile_backrect::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 600px;
  border-radius: 60px;
  margin-left: 20px;
  margin-top: -100px;
  margin-left: -120px;
  background: $yellow;
  z-index: -10;
}

.profile_frontrect {
  position: absolute;
  width: 1000px;
  height: 400px;
  border-radius: 100px;
  background: $pink;
  transform: rotate(20deg);
  margin-top: -300px;
  margin-left: 200px;
  z-index: -10;
}

.profile_image {
  border-radius: 60px;
  overflow: hidden;
}

h1.profile_name {
  margin-top: 30px;

  font-family: $raleway !important;
  color: black;
  font-weight: 900 !important;
}

.profile_smalltitle {
  font-family: $raleway !important;
  color: black;
  font-weight: 700 !important;

}

.profile_iconLink {
  color: black;
}

.profile_iconLink:hover {
  color: $darkBlue;
}

.profile_bio {
  font-size: 1.04rem;
  padding: 0 20px 0 20px;
}

.cssTag {
  background: $tag_css;
  color: black;
}

.htmlTag {
  background: $tag_html;
  color: white;
}

.javascriptTag {
  background: $tag_javascript;
  color: white;
}

.mongoTag {
  background: $tag_mongo;
  color: black;
}

.expressTag {
  background: $tag_express;
  color: white;
}

.nodeTag {
  background: $tag_node;
  color: white;

}

.rubyTag {
  background: $tag_ruby;
  color: black;
}

.reactTag {
  background: $tag_react;
  color: white;
}

.loaderbox {
  width: "100%";
  height: "80%";
  display: "flex";
  justify-content: "center";
  align-items: "center";
}