@charset "utf-8";

@import "../node_modules/bulma/bulma.sass";

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400');

$primary: #343867;
$secondary: #FD7447;
$control-box-shadow: none;
$input-box-shadow: none;

* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

.big-margin-top {
    margin-top: 20vh;
}

.medium-margin-top {
    margin-top: 10vh;
}

.small-margin-top {
    margin-top: 2.5vh;
}

.font-primary {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    color: $primary;
}

.font-secondary {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    color: $secondary;
}

.background-primary {
    background-color: $primary;
}

.background-secondary {
    background-color: $secondary;
}

.is-full-vh {
    height: 100vh;
}

.title {
    &.font-primary {
        color: $primary;
    }
    &.font-secondary {
        color: $secondary;
    }
}

.subtitle {
    &.font-primary {
        color: $primary;
    }
    &.font-secondary {
        color: $secondary;
    }
}

.label {
    &.font-primary {
        color: $primary;
    }
    &.font-secondary {
        color: $secondary;
    }
}

.input {
    &.font-primary {
        color: $primary;
    }
    &.font-secondary {
        color: $secondary;
    }
    &.transparent-background {
        background-color: transparent;
    }
}